@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
$primary-color: #000;
$secondary-color: #5F6368;
$header-color: #fff;
$box-shadow: 0px 3px 6px #00000029;
$font-stack: 'Open Sans', sans-serif;
body{
  color: $primary-color;
  font: 100% $font-stack;
}

.App {
  .App-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $header-color;
    box-shadow: $box-shadow;
    padding: 10px 40px;
    align-items:center;
  }
  
  .App-logo{
    width: 200px;
  }
  
  .pay-cycle{
    color: $secondary-color;
    font-size: 14px;
    margin: auto;
    padding: 0;
  }

  .dropdown-container {
    display: inline-block;
    align-items: center;
    margin-right: auto;
  }
  
  DropdownToggle{
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
  
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
    }
    
    li { 
      display: inline-block;
    }
    
    a {
      display: block;
      padding: 10px 18px;
      text-decoration: none;
      color: $secondary-color;
      font-size: 12px;
      justify-content: center;
    }
    
    img{
      display: block;
      margin: auto;
    }
    
    .user-login{
      background-color: #1D4D40;
      width: 32px;
      height: 32px;
      padding: 5px;
      color: $header-color;
      text-align: center;
      border-radius: 50%;
      font-size: 15px;
    }
  }

  .side-navs{
    background-color: #F7F7F7;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    .nav-link{
      color: #616161;
      display: inline-grid;
      margin-bottom: 15px;
      font-size: 11px;
      font-weight: 500;
    }

    .nav-link.active{
      background-color: #fff;
      border-left: 5px solid #FD9933;
    }

    img{
      margin: auto;
    }
  }
  
}